html {
  box-sizing: border-box;
  height: 100%;

}

*, *:before, *:after {
  box-sizing: inherit;
}

body, form, ul {
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #000;
  color: #fff;
  padding: 30px 40px;
}

h1 {
  text-align: center;
}

#zip {

}

input, button {
  padding: 10px;
  font-size: 16px;
  margin: auto;

}

#places {

}

li {
  list-style-type: none;
  cursor: pointer;
  padding: 12px;
}

.selected {
  background-color: #e2e2e2;
}
