/* Reset */

html {
  height: 100%;
  width: 100%;
}

body {
  height: inherit;
  width: inherit;
  background-color: #eeee;
}

/* Session */

.App {
  width: inherit;
  height: inherit;
}

.session-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.session-form-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

.session-input {
  display: block;
  width: 250px;
  height: 30px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 5px;
}

.session-continue-btn {
  display: block;
  width: 250px;
  height: 25px;
}

.session-login-btn {
  display: block;
}
