body {
    font-size: 100%;
}

#action-items {
    width: 100%;
}

input, button {
    border: 1px solid black;
    border-radius: 4px;
    font-size: 1em;
    padding: 10px 15px
}

input {
    width: 79%
}

button {
    width: 20%;
}

#error-container {
    display: none;
    color: red;
    padding-top: 5px;
}

ul {
    padding: 0;
}

li {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    justify-content: space-between;
    padding: 10px;    
}

li:nth-of-type(odd) {
    background-color: #e2e2e2;
}

.close-btn:hover {
    cursor: pointer;
}

@media only screen and (max-width: 415px) {
    input, button {
        width: 100%;
    }
    input {
        margin-bottom: 10px;
    }
}